version: '3'
services:
   node1:
      build: ./src/nodejs/
      networks:
         - traffic_balancer
      ports:
         - 8080:8080
   node2:
      build: ./src/nodejs/
      networks: 
         - traffic_balancer
      ports:
         - 8081:8080
   node3:
      build: ./src/nodejs/
      networks:
         - traffic_balancer
      ports:
         - 8082:8080
   
   nginx:
      image: nginx:latest
      container_name: nginx_test
      volumes:
         - ./src/nginx/nginx.conf:/etc/nginx/nginx.conf:rw
      networks:
         - traffic_balancer
      links:
         - node1:nodejs-node1
         - node2:nodejs-node2
         - node3:nodejs-node3
      ports:
         - 80:80
      command: /bin/sh -c "exec nginx -g 'daemon off;'"
   
networks:
   traffic_balancer:

